<!DOCTYPE html>

<head>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 10px;
        }

        html,
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        table {
            width: 850px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .space-y {
            height: 5px;
        }

        .space-x {
            width: 15px;
        }

        .bt-0 {
            border-top: 0;
        }

        .bl-0 {
            border-left: 0;
        }

        .br-0 {
            border-right: 0;
        }

        .bb-0 {
            border-bottom: 0;
        }

        .by-0 {
            border-top: 0;
            border-bottom: 0;
        }

        .bx-0 {
            border-left: 0;
            border-right: 0;
        }

        .shadow {
            background: #ddd;
        }

        div.main-div {
            padding: 2px 10px;
        }

        .idx {
            background: #ccc;
        }

        .container {
            width: 820px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
<div class="container">
    <h1 style="text-align: center;">ELECTRONIC TRAFFIC/NONTRAFFIC NOTICE TO APPEAR</h1>
    <h1 style="text-align: center;">(Continuation of Defendant’s Copy)</h1>
    <p style="text-align: center;"><span class="shadow">Shaded areas</span> indicate conditional fields for use when
        citing multiple vehicles or violations with a continuation page.</p>

    <!-- first -->
    <table style="width: 100%;">
        <tr>
            <td style="width: 45%;" class="br-0">
                <div class="main-div">
                    <p style="font-size: 16px;font-style: italic; text-transform: uppercase;">(Name of agency and
                        jurisdiction)</p>
                    <p style="font-weight: bold; font-size: 16px;">Notice to appear</p>
                </div>
            </td>
            <td style="width: 30%;" class="bx-0">
                <div class="main-div">
                    <input disabled type="checkbox" id="misdemeanor">
                    <label for="misdemeanor">MISDEMEANOR</label>
                </div>

                <div class="main-div">
                    <input disabled type="checkbox" id="TRAFFIC">
                    <label for="TRAFFIC">TRAFFIC</label>


                    <input disabled type="checkbox" id="nontraffic">
                    <label for="nontraffic">NONTRAFFIC</label>
                </div>

            </td>
            <td style="width: 25%;" class="bl-0">
                <div class="main-div">
                    <p>(Citation No.)</p>
                    <p>{{eticket.body.id}}</p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 1 -->
    <table style="width: 100%; border-top: 0;">
        <tr style="border-top: 0;">
            <td class="bt-0" style="width: 20%; ">
                <div class="main-div">
                    <p>Date of Violation</p>

                    <div>
                        <span class="idx">1.</span>
                        <span>{{eticket.dateTs}}</span>
                    </div>
                </div>
            </td>

            <td class="bt-0 br-0" style="width: 25%;">
                <div class="main-div">
                    <p>Time</p>
                    <p>{{eticket.timeTs}}</p>
                </div>
            </td>
            <td class="bt-0 bl-0 shadow" style="width: 5%">
                <div>
                    <p> <input type="checkbox" isAm> AM</p>
                    <p> <input type="checkbox" isPm> PM</p>
                </div>
            </td>


            <td class="bt-0 shadow" style="width: 20%;">
                <div class="main-div">
                    <p>Days of Week</p>
                    <p>   </p>
                </div>
            </td>

            <td class="bt-0 shadow" style="width: 30%;">
                <div class="main-div">
                    <p>Case No.</p>
                    <p>   </p>
                </div>
            </td>
        </tr>
    </table>


    <!-- 2 -->
    <table style="width: 100%; border-top: 0;">
        <tr>
            <td class="bt-0 br-0" style="width: 50%; ">
                <div class="main-div">
                    <p>Name (First, Middle, Last)/<span class="shadow">(Company)</span> </p>

                    <div>
                        <span class="idx">2.</span>
                        <span>{{eticket.driver.name}}</span>
                    </div>
                </div>
            </td>

            <td class="bt-0 bl-0" style="width: 50%;">
                <div class="main-div">
                    <p><input type="checkbox" name="" id=""> <span class="shadow">Owner’s Responsibility (VC 40001)</span></p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 3 -->
    <table style="width: 100%; border-top: 0;">
        <tr class="shadow" style="border-top: 0;">
            <td class="bt-0" style="width: 100%; ">
                <div class="main-div">
                    <p>Address </p>

                    <div>
                        <span class="idx">3.</span>
                        <span>{{eticket.driver.address}}</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <!-- 4 -->
    <table class="shadow" style="width: 100%; border-top: 0;">
        <tr class="shadow" style="border-top: 0;">
            <td class="bt-0 br-0" style="width: 40%; ">
                <div class="main-div">
                    <p>City </p>

                    <div>
                        <span class="idx">4.</span>
                        <span> {{eticket.driver.city}}</span>
                    </div>
                </div>
            </td>

            <td class="bt-0 bx-0" style="width: 15%; ">
                <div class="main-div">
                    <p>State/Country </p>
                    <p><span>{{eticket.driver.state}}</span></p>
                </div>
            </td>

            <td class="bt-0 bx-0" style="width: 15%; ">
                <div class="main-div">
                    <p>Zip Code</p>
                    <p><span>{{eticket.driver.zipcode}}</span></p>
                </div>
            </td>

            <td class="bt-0" style="width: 30%;">
                <div class="main-div">
                    <p><input type="checkbox" name="" id=""> Juvenile (Phone No.) </p>
                    <p>  </p>
                </div>
            </td>
        </tr>
    </table>


    <!-- 5 -->
    <table style="width: 100%; border-top: 0;">
        <tr class="shadow" style="border-top: 0;">
            <td class="bt-0 br-0" style="width: 30%; ">
                <div class="main-div">
                    <p>Driver Lic. No. </p>

                    <div>
                        <span class="idx">5.</span>
                        <span> {{eticket.driver.licNo}}</span>
                    </div>
                </div>
            </td>

            <td class="bt-0 bl-0" style="width: 15%; ">
                <div class="main-div">
                    <p>State/Country </p>
                    <p><span>{{eticket.driver.stateDl}}</span></p>
                </div>
            </td>

            <td class="bt-0 shadow" style="width: 10%; ">
                <div class="main-div">
                    <p>Class</p>
                    <p><span>{{eticket.driver.class}}</span></p>
                </div>
            </td>

            <td class="bt-0" style="width: 15%; ">
                <div class="main-div">
                    <p>Commercial</p>
                    <p><input type="checkbox" isDriverComY> Yes <input type="checkbox" isDriverComN> No </p>
                </div>
            </td>


            <td class="bt-0" style="width: 5%; ">
                <div class="main-div">
                    <p>Age</p>
                    <p>{{eticket.driver.age}}</p>
                </div>
            </td>
            <td class="bt-0" style="width: 25%;">
                <div class="main-div">
                    <p>Birthdate</p>
                    <p>{{eticket.driver.brithdates}}</p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 6 -->
    <table style="width: 100%; border-top: 0;">
        <tr class="shadow" style="border-top: 0;">
            <td class="bt-0" style="width: 12%; ">
                <div class="main-div">
                    <p>Sex</p>

                    <div>
                        <span class="idx">6.</span>
                        <span> {{eticket.driver.sex}}</span>
                    </div>
                </div>
            </td>

            <td class="bt-0" style="width: 12%; ">
                <div class="main-div">
                    <p>Hair </p>
                    <p><span>{{eticket.driver.hair}}</span></p>
                </div>
            </td>

            <td class="bt-0" style="width: 12%; ">
                <div class="main-div">
                    <p>Eyes </p>
                    <p><span>{{eticket.driver.eyes}}</span></p>
                </div>
            </td>

            <td class="bt-0" style="width: 12%; ">
                <div class="main-div">
                    <p>Height </p>
                    <p><span>{{eticket.driver.height}}</span></p>
                </div>
            </td>

            <td class="bt-0" style="width: 12%; ">
                <div class="main-div">
                    <p>Weight </p>
                    <p><span>{{eticket.driver.weight}}</span></p>
                </div>
            </td>

            <td class="bt-0 shadow" style="width: 12%; ">
                <div class="main-div">
                    <p>Race </p>
                    <p><span>{{eticket.driver.race}}</span></p>
                </div>
            </td>

            <td class="bt-0 shadow" style="width: 28%; ">
                <div class="main-div">
                    <p>Other Descriptions </p>
                    <p><span></span></p>
                </div>
            </td>

        </tr>
    </table>

    <!-- 7,8 -->
    <table style="width: 100%; border-top: 0;">
        <!-- 7 -->
        <tr class="shadow">
            <td class="bt-0 shadow" colspan="12">
                <div class="main-div">
                    <p>E-mail Address</p>

                    <div>
                        <span class="idx">7.</span>
                        <span> </span>
                    </div>
                </div>
            </td>
        </tr>

        <!-- 8 -->
        <tr class="shadow">
            <td class="br-0" colspan="4">
                <div class="main-div">
                    <div class="space-y"></div>
                    <div>
                        <span class="idx">8.</span>
                        <input type="checkbox"> VC 42009 Construction Zone
                    </div>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="4">
                <div class="main-div">
                    <p> <input type="checkbox"> VC 42010 Safety Zone</p>
                </div>
            </td>

            <td class="bl-0" colspan="4" style="width: 20%;">
                <div class="main-div">
                    <p> <input type="checkbox"> Schools Zone</p>
                </div>
            </td>

        </tr>
    </table>

    <!-- 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 -->
    <table style="width: 100%; border-top: 0;">
        <tr>
            <td class="by-0 br-0" colspan="5" style="width: 40%;">
                <div class="main-div">
                    <p>Correctable Violation (VC 40610)</p>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="5" style="width: 40%;">
                <div class="main-div">
                    <p><input type="checkbox"> Booking Required (see below) </p>
                </div>
            </td>

            <td class="by-0 bl-0" colspan="2" style="width: 20%;">
                <div class="main-div">
                    <p>Misdemeanor</p>
                    <p>or Infraction</p>
                </div>
            </td>
        </tr>

        <tr>
            <td class="br-0 by-0" colspan="2">
                <div class="main-div">
                    <p>Yes/No</p>
                </div>
            </td>

            <td class="bx-0 by-0" colspan="3">
                <div class="main-div">
                    <p>Code and Section</p>
                </div>
            </td>

            <td class="bx-0 by-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>Descriptions</p>
                </div>
            </td>

            <td class="bl-0 by-0" colspan="4">
                <div class="main-div">
                    <Button>Overweight</Button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="br-0 by-0" colspan="10"></td>

            <td class="bx-0 by-0" colspan="1">
                <div class="main-div">
                    <p>M</p>
                </div>
            </td>

            <td class="bl-0 by-0" colspan="1">
                <div class="main-div">
                    <p>I</p>
                </div>
            </td>
        </tr>

        <!-- 9 -->
        <tr>
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <p><span class="idx">9.</span> Yes/No</p>
                </div>
            </td>

            <td class="bt-0 bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bt-0 bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bt-0 bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bt-0 bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bt-0 bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 10 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">10.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 11 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">11.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 12 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">12.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 13 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">13.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 14 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">14.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 15 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">15.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 16 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">16.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 17 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">17.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 18 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">18.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 19 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">19.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>  </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>   lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>

        <!-- 20 -->
        <tr class="shadow">
            <td class="by-0 br-0" colspan="2">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">20.</span> Yes/No</p>
                    <div class="space-y"></div>
                </div>
            </td>

            <td class="bx-0" colspan="3">
                <div class="main-div">
                    <p>   </p>
                </div>
            </td>

            <td class="bx-0" colspan="3" style="width: 38%;">
                <div class="main-div">
                    <p>   </p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div" style="width: 100px;">
                    <p>    lbs</p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>

            <td class="bl-0" colspan="1">
                <div class="main-div">
                    <p><input type="checkbox"></p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 21, 22, 23, 24, 25, 26, 27 -->
    <table style="width: 100%; border-top: 0;">
        <!-- 21 -->
        <tr>
            <td class="bt-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">21.</span>
                    </div>
                </div>
            </td>

            <td class="bt-0 bl-0" colspan="3">
                <div class="main-div">
                    <p>Veh. Lic. No. or VIN</p>
                    <p><span>{{eticket.vehicle.lic}}</span></p>
                </div>
            </td>

            <td class="bt-0" colspan="3">
                <div class="main-div">
                    <p>State/Country</p>
                    <p><span>{{eticket.vehicle.state}}</span></p>
                </div>
            </td>
            <td class="bt-0" colspan="2">
                <div class="main-div">
                    <p>Reg. Mo/Yr</p>
                    <p><span>{{eticket.vehicle.year}}</span></p>
                </div>
            </td>
            <td class="bt-0" colspan="3">
                <div class="main-div">
                    <p>Expiration Date</p>
                    <p><span>{{eticket.vehicle.exp}}</span></p>
                </div>
            </td>
        </tr>

        <!-- 22 -->
        <tr class="">
            <td class="bt-0 bb-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">22.</span>
                    </div>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="4">
                <div class="main-div">
                    <p>Veh. Lic. No. or VIN</p>
                    <p><span>{{eticket.vehicle.lic}}</span></p>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="3">
                <div class="main-div">
                    <p>State/Country Reg.</p>
                    <p><span>{{eticket.vehicle.state}}</span></p>
                </div>
            </td>
            <td class="by-0 bl-0" colspan="4">
                <div class="main-div">
                    <p> Mo/Yr Exp.</p>
                    <p><span>{{eticket.vehicle.year}}</span></p>
                </div>
            </td>
        </tr>
        <tr class="">
            <td class="by-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <p>Veh 3</p>
                    </div>
                </div>
            </td>
            <td class="bb-0 bx-0 bt-0" colspan="11">
            </td>
        </tr>

        <!-- 23 -->
        <tr class="">
            <td class="bt-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">23.</span>
                    </div>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Yr. of Vech.</p>
                    <p><span>{{eticket.vehicle.year}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Make</p>
                    <p><span>{{eticket.vehicle.make}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Model</p>
                    <p><span>{{eticket.vehicle.model}}</span></p>
                </div>
            </td>
            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Body Style</p>
                    <p><span>{{eticket.vehicle.type}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Color</p>
                    <p><span>{{eticket.vehicle.color}}</span></p>
                </div>
            </td>

            <td class="bl-0" colspan="3">
                <div class="main-div">
                    <p>Type</p>
                    <p><span>{{eticket.vehicle.type}}</span></p>
                </div>
            </td>
        </tr>

        <!-- 24 -->
        <tr class="shadow">
            <td class="bt-0 bb-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">24.</span>
                    </div>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="4">
                <div class="main-div">
                    <p>Veh. Lic. No. or VIN</p>
                    <p><span>{{eticket.vehicle.vin}}</span></p>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="3">
                <div class="main-div">
                    <p>State/Country Reg.</p>
                    <p><span>{{eticket.vehicle.state}}</span></p>
                </div>
            </td>
            <td class="by-0 bl-0" colspan="4">
                <div class="main-div">
                    <p> Mo/Yr Exp.</p>
                    <p><span>{{eticket.vehicle.exp}}</span></p>
                </div>
            </td>
        </tr>
        <tr class="shadow">
            <td class="by-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <p>Veh 4</p>
                    </div>
                </div>
            </td>
            <td class="bb-0 bx-0 bt-0" colspan="11">
            </td>
        </tr>

        <!-- 25 -->
        <tr class="shadow">
            <td class="bt-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">25.</span>
                    </div>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Yr. of Vech.</p>
                    <p><span>{{eticket.vehicle.year}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Make</p>
                    <p><span>{{eticket.vehicle.make}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Model</p>
                    <p><span>{{eticket.vehicle.model}}</span></p>
                </div>
            </td>
            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Body Style</p>
                    <p><span>{{eticket.vehicle.type}}</span></p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Color</p>
                    <p><span>{{eticket.vehicle.color}}</span></p>
                </div>
            </td>

            <td class="bl-0" colspan="3">
                <div class="main-div">
                    <p>Type</p>
                    <p><span>{{eticket.vehicle.type}}</span></p>
                </div>
            </td>
        </tr>

        <!-- 26 -->
        <tr class="shadow">
            <td class="bt-0 bb-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">26.</span>
                    </div>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="4">
                <div class="main-div">
                    <p>Veh. Lic. No. or VIN</p>
                    <p><span>{{eticket.vehicle.vin}}</span></p>
                </div>
            </td>

            <td class="by-0 bx-0" colspan="3">
                <div class="main-div">
                    <p>State/Country Reg.</p>
                    <p><span>{{eticket.vehicle.state}}</span></p>
                </div>
            </td>
            <td class="by-0 bl-0" colspan="4">
                <div class="main-div">
                    <p> Mo/Yr Exp.</p>
                    <p><span>{{eticket.vehicle.exp}}</span></p>
                </div>
            </td>
        </tr>
        <tr class="shadow">
            <td class="by-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <p>Veh 5</p>
                    </div>
                </div>
            </td>
            <td class="bb-0 bx-0 bt-0" colspan="11">
            </td>
        </tr>

        <!-- 27 -->
        <tr class="shadow">
            <td class="bt-0 br-0" colspan="1">
                <div class="main-div">
                    <div>
                        <span class="idx">27.</span>
                    </div>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Yr. of Vech.</p>
                    <p><span></span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Make</p>
                    <p><span></span></p>
                </div>
            </td>

            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Model</p>
                    <p><span></span></p>
                </div>
            </td>
            <td class="bx-0" colspan="2">
                <div class="main-div">
                    <p>Body Style</p>
                    <p><span></span></p>
                </div>
            </td>

            <td class="bx-0" colspan="1">
                <div class="main-div">
                    <p>Color</p>
                    <p><span></span></p>
                </div>
            </td>

            <td class="bl-0" colspan="3">
                <div class="main-div">
                    <p>Type</p>
                    <p><span></span></p>
                </div>
            </td>
        </tr>
    </table>

    <!-- __ -->
    <table style="width: 100%; border-top: 0;">
        <tr class="shadow">
            <td class="bt-0" colspan="12">
                <div class="main-div">
                    <p>Location of Violation</p>
                    <p>{{eticket.incident.address}}</p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 28, 29,  -->
    <table style="width: 100%; border-top: 0; border-bottom: 0;">
        <!-- 28 -->
        <tr>
            <td colspan="12" class="by-0">
                <div class="main-div">
                    <div class="space-y"></div>
                    <span class="idx">28.</span>
                    <span><input type="checkbox"> Violations not committed in my presence, declared on information
              and
              belief</span>
                    <div class="space-y"></div>
                </div>
            </td>
        </tr>

        <!-- 29 -->
        <tr>
            <td class="by-0" colspan="12">
                <div class="main-div">
                    <div class="space-y"></div>
                    <p><span class="idx">29.</span> I declare under penalty of perjury under the laws of the State
                        of California that the
                        foregoing is true
                        and correct.</p>
                    <div class="space-y"></div>
                </div>
            </td>
        </tr>

        <!-- _ -->
        <tr>
            <td class="br-0 by-0" colspan="4">
                <div class="main-div shadow" style="margin: 5px 15px;">
                    <p>Citation # {{eticket.body.id}}</p>
                </div>
            </td>
            <td class="bx-0 by-0" colspan="4">
                <div class="main-div shadow" style="margin: 5px 15px;">
                    <p>Violation location {{eticket.incident.address}}</p>
                </div>
            </td>
            <td class="bl-0 by-0" colspan="4">
                <div class="main-div shadow" style="margin: 5px 15px;">
                    <p>Executed at (place) {{eticket.incident.city}}</p>
                </div>
            </td>
        </tr>
    </table>

    <!-- 30, 31, 32 -->
    <table style="width: 100%; border-top: 0; border-bottom: 0;">
        <!-- 30 -->
        <tr>
            <td class="by-0 br-0" colspan="1"></td>
            <td class="by-0 bx-0" colspan="2"></td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="by-0 bx-0" colspan="2"></td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="by-0 bx-0 shadow" colspan="2"></td>
            <td class="by-0 bl-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Fm </p>
                </div>
            </td>
            <td class="bb-0" rowspan="7" colspan="1">
                <div class="main-div" style="width: 50px; transform: rotate(90deg);margin-top: -78px;">
                    <div style="width: 141px;text-align: center;
                                  ">
                        <p>{{eticket.body.id}}</p>
                        <p>(Citation No.)</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="by-0 br-0" colspan="1">
                <div class="main-div">
                    <p><span class="idx">30.</p>
                </div>
            </td>
            <td class="bt-0 bx-0" colspan="2">
                <div class="main-div">
                    <p>{{eticket.dateTs}}</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bt-0 bx-0" colspan="2">
                <div class="main-div">
                    <p>{{eticket.officer.name}}</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bt-0 bx-0 shadow" colspan="2">
                <div class="main-div">
                    <p>{{eticket.officer.id}}</p>
                </div>
            </td>
            <td class="bt-0 bl-0 shadow" colspan="2">
                <div class="main-div">
                    <p>To {Values}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bx-0 by-0" colspan="2">
                <div class="main-div">
                    <p>Dec. Date</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bx-0 by-0" colspan="2">
                <div class="main-div">
                    <p>Arresting or Citing Officer</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bx-0 by-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Serial No.</p>
                </div>
            </td>
            <td class="bx-0 by-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Vac. Dates</p>
                </div>
            </td>
        </tr>

        <!-- 31 -->
        <tr>
            <td class="by-0 bx-0" colspan="1">
                <div class="space-x"></div>
            </td>
            <td class="by-0 bx-0" colspan="2"></td>
            <td class="by-0 bx-0" colspan="1">
                <div class="space-x"></div>
            </td>
            <td class="by-0 bx-0" colspan="2"></td>
            <td class="by-0 bx-0" colspan="1">
                <div class="space-x"></div>
            </td>
            <td class="by-0 bx-0 shadow" colspan="2"></td>
            <td class="by-0 bl-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Fm </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="by-0 br-0" colspan="1">
                <div class="main-div">
                    <p><span class="idx">31.</span></p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="2">
                <div class="main-div">
                    <p>{{eticket.dateTs}}</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="by-0 bx-0" colspan="2">
                <div class="main-div">
                    <p>{{eticket.officer.name}}</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bt-0 bx-0 shadow" colspan="2">
                <div class="main-div">
                    <p>{{eticket.officer.id}}</p>
                </div>
            </td>
            <td class="bt-0 bl-0 shadow" colspan="2">
                <div class="main-div">
                    <p>To </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="by-0 bx-0" colspan="1">
                <div class="space-x"></div>
            </td>
            <td class="bx-0 bb-0" colspan="2">
                <div class="main-div">
                    <p>Dec. Date</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bx-0 bb-0" colspan="2">
                <div class="main-div">
                    <p>Name of Arresting Officer,
                        if different from Citing Officer</p>
                </div>
            </td>
            <td class="by-0 bx-0" colspan="1"></td>
            <td class="bx-0 by-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Serial No.</p>
                </div>
            </td>
            <td class="bx-0 by-0 shadow" colspan="2">
                <div class="main-div">
                    <p>Vac. Dates</p>
                </div>
            </td>
        </tr>

        <!-- 32 -->
        <tr>
            <td class="bx-0 by-0" colspan="1">
                <div class="main-div">
                    <span class="idx">32.</span>
                </div>
            </td>
            <td class="bb-0" colspan="10">
                <div class="main-div">
                    <div>
                        <p style="font-size: 18px;">
                            <strong>
                                WITHOUT ADMITTING GUILT, I PROMISE TO APPEAR AT THE TIME AND PLACE
                                INDICATED BELOW.
                            </strong>
                        </p>
                        <p>X Signature</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <!-- last -->
    <table style="width: 100%;">
        <tr>
            <td class="bt-0" colspan="6" style="width: 45%;">
                <div class="main-div">
                    <p>
                        Judicial Council of California Form
                        New 06-26-15 (VC 40500(b),
                        40513(b), 40522, and 40600; PC 853.9 and 959.1) TR-135
                    </p>
                </div>
            </td>
            <td class="br-0 bt-0" colspan="3">
                <div class="main-div">
                    <p style="font-size: 20px;"><strong>FPO Barcode</strong></p>
                </div>
            </td>
            <td class="bl-0 bt-0" colspan="3">
                <div class="main-div">
                    <p style="font-size: 20px;"><strong>(USS Code 39)</strong></p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>