<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic Traffic/Nontraffic Notice to Appear</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            width: 711px;
        }

        @media print {
            .container {
                width: 711px;
                padding: 30px 16px 0 16px;
            }
        }


        @page {
            width: 800px;
            margin: 0;
            padding: 0;
        }

        .container {
            padding: 30px 16px 0 16px;
            margin: 0 auto;
            width: 100%;
        }

        .bar {
            border-right: 2px solid #000;
        }

        .bar-b {
            border-bottom: 2px solid #000;
        }

        .text-center {
            text-align: center;
        }

        .number {
            background: #ccc;
            padding: 2px;
            display: inline-block;
            font-size: 12px;
        }

        .text-sm {
            font-size: 10px;
        }

        .text-lg {
            font-size: 16px;
        }

        .d-inline {
            display: inline-block;
        }

        .section {
            border: 1px solid #000;
        }

        label,
        .label,
        .data {
            font-size: 10px;
            min-height: 15px;
            margin: auto;
            text-wrap: nowrap;
        }

        input {
            background-color: transparent;
            border: 0px;
            outline: none;
        }

        .input-field,
        .checkbox-field,
        .date-field {
            padding: 0 5px;
        }

        .required {
            background-color: #ccc;
        }

        input[type='checkbox'] {
            width: 10px;
            height: 10px;
        }

        .comments {
            width: 100%;
            height: 25px;
            background: transparent;
            border: 0;
            outline: none;
            resize: none;
        }

        .text-nowrap {
            text-wrap: nowrap;
        }

        .vertical-text {
            writing-mode: vertical-lr;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }



        @media print {
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: Arial, sans-serif;
            }

            .container {
                padding: 30px 16px;
                margin: 0 auto;
            }

            .bar {
                border-right: 2px solid #000;
            }

            .bar-b {
                border-bottom: 2px solid #000;
            }

            .text-center {
                text-align: center;
            }

            .number {
                background: #ccc;
                padding: 2px;
                display: inline-block;
                font-size: 12px;
            }

            .text-sm {
                font-size: 10px;
            }

            .text-lg {
                font-size: 16px;
            }

            .d-inline {
                display: inline-block;
            }

            .section {
                border: 1px solid #000;
            }

            label,
            .label,
            .data {
                font-size: 10px;
                min-height: 15px;
                margin: auto;
                text-wrap: nowrap;
            }

            input {
                background-color: transparent;
                border: 0px;
                outline: none;
            }

            .input-field,
            .checkbox-field,
            .date-field {
                padding: 0 5px;
            }

            .required {
                background-color: #ccc;
            }

            input[type='checkbox'] {
                width: 10px;
                height: 10px;
            }

            .comments {
                width: 100%;
                height: 25px;
                background: transparent;
                border: 0;
                outline: none;
                resize: none;
            }

            .text-nowrap {
                text-wrap: nowrap;
            }

            .vertical-text {
                writing-mode: vertical-lr;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }
        }
    </style>

</head>

<body>
<div style="margin-bottom: 10px;">
    <h2 class="top-header text-center" style="font-size: 28px;">ELECTRONIC TRAFFIC/NONTRAFFIC NOTICE TO APPEAR</h2>
    <p style="margin-bottom: 5px; font-size: 28px;" class="text-center">(Defendant’s Copy)</p>
    <p class="text-center" style="font-size: 24px;"><span style="background-color: #ccc;">Shaded areas</span> indicate
        spaces subject to
        modification for local or agency requirements.</p>
</div>

<div class="container">
    <table class="section">
        <tr>
            <td>
                <p style="text-transform: uppercase; font-size: 16px;">(Name of agency and jurisdiction)</p>
                <p style="font-size: 16px;"><strong>Notice to appear</strong></p>
            </td>
            <td>
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="misdemeanor">
                    <label for="misdemeanor">MISDEMEANOR</label>
                </div>
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="traffic">
                    <label for="traffic">TRAFFIC</label>
                    <input disabled type="checkbox" id="nontraffic">
                    <label for="nontraffic">NONTRAFFIC</label>
                </div>
            </td>
            <td>
                <div class="input-field">
                    <label for="citation-no">Citation No.</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">1.</p>
            </td>
            <td>
                <div class="date-field bar">
                    <label for="date-of-violation">Date of Violation</label>
                    <br>
                    <div class="data"></div>
                </div>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="input-field">
                                <div class="d-inline">
                                    <label for="day-of-week">Time</label>
                                    <input readonly type="text" id="day-of-week"><br>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-field required" style="width: 60px;">
                                <div class="checkbox-field d-inline">
                                    <input disabled type="checkbox" id="am">
                                    <label for="am">AM</label>
                                    <br>
                                    <input disabled type="checkbox" id="pm">
                                    <label for="pm">PM</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width: 20%;">
                <div class="input-field required">
                    <label for="day-of-week">Day of Week</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 35%;">
                <div class="input-field required">
                    <label for="case-no">Case No.</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">2.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="name">Name (First, Middle, Last)/(Company)</label>
                    <div class="data"></div>
                </div>
            </td>
            <td>
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="owner-responsibility">
                    <label for="owner-responsibility">Owner’s Responsibility (VC 40001)</label>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">3.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="address">Address</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section required">
        <tr>
            <td style="width: 20px;">
                <p class="number">4.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="city">City</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 30%;">
                <div class="input-field">
                    <label for="state-country">State/Country</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field bar">
                    <label for="zip-code">ZIP Code</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 200px">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="juvenile">
                    <label for="juvenile">Juvenile (Phone No.)</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">5.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="driver-lic-no">Driver Lic. No.</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field bar">
                    <label for="driver-state-country">State/Country</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 15%;">
                <div class="input-field required bar">
                    <label for="driver-class">Class</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 15%;">
                <label for="commercial">Commercial</label>
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="commercial-yes">
                    <label for="commercial-yes">Yes</label>
                    <input disabled type="checkbox" id="commercial-no">
                    <label for="commercial-no">No</label>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar">
                    <label for="age">Age</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 15%;">
                <div class="date-field">
                    <label for="birth-date">Birth Date</label><br>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">6.</p>
            </td>
            <td>
                <div class="input-field bar">
                    <label for="sex">Sex</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar">
                    <label for="hair">Hair</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar">
                    <label for="eyes">Eyes</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar">
                    <label for="height">Height</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar">
                    <label for="weight">Weight</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field bar required">
                    <label for="race">Race</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 35%;">
                <div class="input-field">
                    <label for="other-description">Other Description</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">7.</p>
                        </td>
                        <td>
                            <div class="input-field">
                                <label for="email">E-mail Address</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">8.</p>
                        </td>
                        <td>
                            <div class="input-field bar">
                                <label for="veh-lic-no">Veh. Lic. No. or VIN</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="veh-state-country">State/Country</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field required">
                                <label for="reg-mo-yr-exp">Reg. Mo/Yr Exp</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">9.</p>
                        </td>
                        <td>
                            <div class="input-field bar">
                                <label for="veh-yr">Yr. of Veh.</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="make">Make</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="model">Model</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="body-style">Body Style</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 15%;">
                            <div class="input-field">
                                <label for="color">Color</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">10.</p>
                        </td>
                        <td>
                            <div class="input-field">
                                <label for="financial-responsibility">Evidence of Financial Responsibility</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <label for="chp-dot-puc-icc" style="background-color: #ccc;">CHP/DOT/PUC/ICC</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

            <td style="width: 200px; height: 100%; ">
                <div style="border: 1px solid #000; width: 100%; height: 140px; padding: 10px;">
                    <div class="checkbox-field" style="margin-top: 20px; margin-bottom: 20px;">
                        <input disabled checked="{{eticket.body.vehicle.cmv}}" type="checkbox" id="comm-veh">
                        <label for="comm-veh" style="font-size: 16px; text-wrap: wrap;">
                            <strong>COMM. VEH. (VC 15210(b))</strong>
                        </label>
                    </div>
                    <div class="checkbox-field" style="margin-bottom: 30px;">
                        <input disabled checked="{{eticket.body.vehicle.hazmat}}" type="checkbox" id="haz-mat">
                        <label for="haz-mat" style="font-size: 16px; text-wrap: wrap;">
                            <strong>HAZ. MAT. (VC 353)</strong>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">11.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="registered-owner">Registered Owner or Lessee</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 25%;">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="same-as-driver">
                    <label for="same-as-driver">Same as Driver</label>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">12.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="registered-owner-address">Address</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="registered-owner-city" style="background: #ccc;">City</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="registered-owner-state-country" style="background: #ccc;">State/Country</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 15%;">
                <div class="input-field">
                    <label for="registered-owner-zip-code">ZIP Code</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="same-as-driver-2">
                    <label for="same-as-driver-2">Same as Driver</label>
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">13.</p>
            </td>
            <td>
                <div class="input-field">
                    <label for="veh-lic-no-2">Veh. Lic. No. or VIN</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="veh-state-country-2">State/Country</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="reg-mo-yr-exp-2">Reg. Mo/Yr Exp</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="label" style="margin-left: 20px; background: #fff; z-index: 10;">
                    Veh 2.
                </div>
            </td>
        </tr>
    </table>

    <table class="section">
        <tr>
            <td style="width: 20px;">
                <p class="number">14.</p>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="veh-yr-2">Yr. of Veh.</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="make-2">Make</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="model-2">Model</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 20%;">
                <div class="input-field">
                    <label for="body-style-2">Body Style</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 15%;">
                <div class="input-field">
                    <label for="color-2">Color</label>
                    <div class="data"></div>
                </div>
            </td>
            <td style="width: 10%;">
                <div class="input-field">
                    <label for="type">Type</label>
                    <div class="data"></div>
                </div>
            </td>
        </tr>
    </table>

    <table class="section required">
        <tr>
            <td style="width: 20px;">
                <p class="number">15.</p>
            </td>
            <td>
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="vc-42009">
                    <label for="vc-42009">VC 42009 Construction Zone</label>
                </div>
            </td>
            <td style="width: 30%;">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="vc-42010">
                    <label for="vc-42010">VC 42010 Safety Zone</label>
                </div>
            </td>
            <td style="width: 30%;">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="school-zone">
                    <label for="school-zone">School Zone</label>
                </div>
            </td>
        </tr>
    </table>

    <table style="border: 1px solid #000;">
        <thead>
        <tr>
            <td colspan="2" class="label">
                <p>Correctable Violation (VC 40610)</p>
                <div>
                    <p class="d-inline">Yes/No</p>
                    <p class="d-inline">Code and Section</p>
                </div>
            </td>
            <td></td>
            <td class="label">
                <div class="checkbox-field">
                    <input disabled type="checkbox" id="booking-required">
                    <label for="booking-required">Booking Required</label>
                </div>
                <p>Description</p>
            </td>
            <td colspan="2" class="label">
                <p>Misdemeanor of Information</p>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <p class="number">16.</p>
            </td>
            <td class="label">(Y/N)</td>
            <td class="label" style="width: 300px;"></td>
            <td class="label">lbs</td>
            <td class="label">
                <p>M</p>
                <input disabled type="checkbox" id="booking-required">
            </td>
            <td class="label">
                <p>I</p>
                <input disabled type="checkbox" id="booking-required">
            </td>
        </tr>
        <tr class="required">
            <td>
                <p class="number">17.</p>
            </td>
            <td class="label">(Y/N)</td>
            <td class="label" style="width: 300px;"></td>
            <td class="label">lbs</td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
        </tr>
        <tr>
            <td>
                <p class="number">18.</p>
            </td>
            <td class="label">(Y/N)</td>
            <td class="label" style="width: 300px;"></td>
            <td class="label">lbs</td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
        </tr>
        <tr class="required">
            <td>
                <p class="number">19.</p>
            </td>
            <td class="label">(Y/N)</td>
            <td class="label" style="width: 300px;"></td>
            <td class="label">lbs</td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
            <td class="label">
                <input disabled type="checkbox" id="booking-required">
            </td>
        </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <td>
                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">20.</p>
                        </td>
                        <td>
                            <div class="input-field bar">
                                <label for="speed-approx">Speed Approx.</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="pf-max-spd">P.F./Max Spd.</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="veh-lmt">Veh. Lmt.</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field bar">
                                <label for="safe-radar">Safe</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 20%;">
                            <div class="input-field required">
                                <label for="safe-radar">Radar</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="section">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">21.</p>
                        </td>
                        <td>
                            <div class="input-field">
                                <label for="location-of-violation">Location of Violation(s)</label>
                                <div class="data"></div>
                            </div>
                        </td>
                        <td style="width: 40%;">
                            <div class="input-field required">
                                <label for="city-county-of-occurrence">City/County of Occurrence</label>
                                <div class="data"></div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="section required">
                    <tr>
                        <td style="width: 20px;">
                            <p class="number">22.</p>
                        </td>
                        <td>
                            <div>
                                <label for="comments">Comments (Weather, Road & Traffic Conditions, Etc.)</label>
                                <textarea id="comments" class="comments"></textarea>
                            </div>
                        </td>
                        <td style="width: 35%;">
                            <div class="checkbox-field">
                                <input disabled type="checkbox" id="accident">
                                <label for="accident">Accident</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

            <td style="width: 200px; height: 100%; ">
                <div style="border: 1px solid #000; width: 100%; height: 120px; padding: 30px 40px;">
                    <p class="text-lg text-center">
                        <strong>
                            RIGHT / LEFT
                            THUMB/ FINGER
                            PRINT
                        </strong>
                    </p>

                </div>
            </td>
        </tr>
    </table>

    <div class="section">
        <table>
            <tr>
                <td style="width: 20px;">
                    <p class="number">23.</p>
                </td>
                <td>
                    <div class="checkbox-field">
                        <input disabled type="checkbox" id="violations-not-committed">
                        <label for="violations-not-committed">Violations not committed in my presence, declared on information
                            and belief.</label>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30px;">
                    <p class="number">24.</p>
                </td>
                <td>
                    <label for="violations-not-committed">I declare under penalty of perjury under the laws of the State of
                        California that the foregoing is true and correct.</label>
                </td>
            </tr>
        </table>

        <table style="margin: 6px 0;">
            <tr>
                <td style="width: 30px;">
                </td>
                <td>
                    <div class="required input-field d-inline">
                        <p class="label text-nowrap d-inline">Citation #</p>
                        <div class="data d-inline bar-b" style="min-width: 120px;"></div>
                    </div>
                </td>
                <td>
                    <div class="required input-field d-inline">
                        <p class="label text-nowrap d-inline">Violation location</p>
                        <div class="data d-inline bar-b" style="min-width: 120px;"></div>
                    </div>
                </td>
                <td>
                    <div class="required input-field d-inline">
                        <p class="label text-nowrap d-inline">Executed at (place)</p>
                        <div class="data d-inline bar-b" style="min-width: 120px;"></div>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30px;">
                    <p class="number">25.</p>
                </td>
                <td>
                    <div class="date-field bar-b">
                        <div class="data">/ /</div>
                    </div>
                    <p class="label">Dec. Date</p>
                </td>
                <td>
                    <div class="input-field">
                        <input readonly type="text" id="" class="bar-b">
                        <p class="label text-nowrap">Arresting or Citing Officer</p>
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="input-field required" style="height: 46px; padding: 4px;">
                        <input readonly type="text" id="" class="bar-b">
                        <p class="label text-nowrap">Serial No.</p>
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="input-field required" style="padding-right: 40px;">
                        <div class="date-field bar-b">
                            <div>
                                <div class="label">Fm</div>
                            </div>
                            <div>
                                <div class="label">To</div>
                            </div>
                        </div>
                        <p class="label text-nowrap">Vac. Dates</p>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30px;">
                    <p class="number">26.</p>
                </td>
                <td>
                    <div class="date-field bar-b">
                        <div class="data">/ /</div>
                    </div>
                    <p class="label">Dec. Date</p>
                </td>
                <td>
                    <div class="input-field">
                        <input readonly type="text" id="" class="bar-b">
                        <p class="label text-nowrap">Name of Arresting Officer, <br> if different from Citing Officer</p>
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="input-field required" style="height: 46px; padding: 4px;">
                        <input readonly type="text" id="" class="bar-b">
                        <p class="label text-nowrap">Serial No.</p>
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="input-field required" style="padding-right: 40px;">
                        <div class="date-field">
                            <div class="date-field bar-b">
                                <div>
                                    <div class="label">Fm</div>
                                </div>
                                <div>
                                    <div class="label">To</div>
                                </div>
                            </div>
                            <p class="label text-nowrap">Vac. Dates</p>
                        </div>
                </td>
            </tr>
        </table>

        <div style="margin: 4px 0;">
            <table>
                <tr>
                    <td style="width: 20px;">
                        <p class="number">27.</p>
                    </td>
                    <td>
                        <div style="margin: 0 40px 15px 20px; border: 2px solid #000; padding: 5px 10px;">
                            <div class="text-lg">
                                <strong>WITHOUT ADMITTING GUILT, I PROMISE TO APPEAR AT THE TIME AND PLACE INDICATED BELOW.</strong>
                            </div>
                            <div>
                                <span class="label"><em>X Signature</em></span>
                                <input readonly type="text">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <table>
            <tr>
                <td style="width: 60px;">
                    <p class="number">28.</p>
                </td>
                <td>
                    <div class="text-lg">WHEN : </div>
                </td>
                <td>
                    <div>
                        <p class="label text-nowrap d-inline">ON OR BEFORE THIS DATE:</p>
                        <div class="date-field bar-b d-inline" style="min-width: 120px;">
                            <div class="data"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="width: 200px; margin-left: auto;">
                        <div class="required">
                            <p class="label text-nowrap d-inline">Time: </p>
                            <div class="input-field d-inline">
                                <div class="data bar-b" style="min-width: 40px;"></div>
                            </div>
                            <div class="checkbox-field d-inline">
                                <input disabled type="checkbox" id="commercial-no">
                                <label for="commercial-no">AM</label>
                            </div>
                            <div class="checkbox-field d-inline">
                                <input disabled type="checkbox" id="commercial-no">
                                <label for="commercial-no">PM</label>
                            </div>
                        </div>

                        <div class="required">
                            <p class="label text-nowrap d-inline">Time: </p>
                            <div class="input-field d-inline">
                                <div class="data bar-b" style="min-width: 40px;"></div>
                            </div>
                            <div class="checkbox-field d-inline">
                                <input disabled type="checkbox" id="commercial-no">
                                <label for="commercial-no">AM</label>
                            </div>
                            <div class="checkbox-field d-inline">
                                <input disabled type="checkbox" id="commercial-no">
                                <label for="commercial-no">PM</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="width: 60px;">

                            </td>
                            <td>
                                <div class="text-lg text-nowrap">WHAT TO DO:</div>
                            </td>
                            <td>
                                <div class="text-sm">
                                    FOLLOW THE INSTRUCTIONS BELOW.
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 20px;">
                                <p class="number">25.</p>
                            </td>
                            <td>
                                <div class="text-lg">WHERE:</div>
                            </td>
                            <td>
                                <div>
                                    <p class="label" style="line-height: 20px;">[Name of court[s]]</p>
                                    <p class="label" style="line-height: 20px;">[Section[s] or division[s], room no[s].]</p>
                                    <p class="label" style="line-height: 20px;">[Street address[es]]</p>
                                    <p class="label" style="line-height: 20px;">[Phone No.</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table style="width: 150px; margin-left: auto;">
                        <tr>
                            <td>
                                <div class="required"
                                     style="border: 2px solid #000; padding: 50px 27px; width: 120px; height: 120px;">
                                    <strong>PHOTO</strong>
                                </div>
                            </td>
                            <td>
                                <div style="height: 119px;">
                                    <div class="text-nowrap vertical-text required" style="width: 40px; height: 100%;">
                                        <p style="text-align: center;">(Citation No.)</p>
                                        <input readonly style="height: 90%; margin-top: 5%;" type="text">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 20px;">
                    <p class="number">30.</p>
                </td>
                <td>
                    <div class="checkbox-field">
                        <input disabled type="checkbox" id="commercial-yes">
                        <label for="commercial-yes">To be notified</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-field required">
                        <input disabled type="checkbox" id="commercial-no">
                        <label for="commercial-no">Contact the clerk to appear at a night court session.</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-field required" style="margin-left: auto;">
                        <label for="commercial-no">DEFENDANT COPY</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>





    <table class="section">
        <tr>
            <td style="width: 50%;">
                <div class="bar" style="padding: 4px;">
                    Judicial Council of California Form
                    New 06-26-15 (VC 40500(b),
                    40513(b), 40522, and 40600;
                    PC 853.9 and 959.1) TR-135
                </div>
            </td>
            <td style="width: 50%;">
                <div style="padding: 10px;">
                    <strong style="margin-right: 50px;">FPO Barcode</strong>
                    <strong>(USS Code 39)</strong>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>

</html>